.pay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  .container {
    width: 500px;
    padding: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    background-color: #fafafa;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);

    h2 {
      margin-bottom: 20px;
      text-align: center;
      font-size: 24px;
    }
  }

 
  @media (min-width: 768px) and (max-width: 1024px) {
    .container {
      width: 80%;
      padding: 25px;

      h2 {
        font-size: 22px;
      }
    }
  }


  @media (max-width: 480px) {
    padding: 30px 0;

    .container {
      width: 90%;
      padding: 20px;

      h2 {
        font-size: 20px;
      }
    }
  }
}


.app.dark .pay {
  background-color: #1a1a1a; // sayfa zeminini koyu yapar
  color: #f1f1f1;

  .container {
    background-color: #2a2a2a;
    border-color: #444;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.05);

    h2 {
      color: #f1f1f1;
    }
  }
}
