.footer {
  background-color: white;
  display: flex;
  justify-content: center;
  color: #666;
  padding-top: 50px;
  

  img {
    width: 24px;
    height: 24px;
  }

  .container {
    width: 1400px;
    max-width: 95%;

    .top {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;

      .item {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
          font-size: 16px;
          color: #555;
        }

        span {
          font-weight: 300;
        }
      }
    }

    hr {
      margin: 50px 0;
      height: 0;
      border: 1px solid #ebe9e9;
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;

      .left {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 20px;

        span {
          font-size: 13px;
          white-space: nowrap;
        }
      }

      .right {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;

        .social {
          display: flex;
          gap: 20px;
        }

        .link {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }


  @media (max-width: 768px) {
    .container {
      .top {
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;

        .item {
          width: 100%;
        }
      }

      .bottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        .left,
        .right {
          width: 100%;
          justify-content: space-between;
          flex-wrap: wrap;
        }

        .right {
          gap: 20px;
          .social {
            gap: 15px;
          }
        }
      }
    }
  }


  @media (max-width: 480px) {
    .container {
      .top {
        .item {
          h2 {
            font-size: 14px;
          }

          span {
            font-size: 12px;
          }
        }
      }

      .bottom {
        gap: 10px;

        .left,
        .right {
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
        }
      }
    }
  }
}

.app.dark .footer {
  background-color: #1a1a1a;
  color: #ccc;

  .container {
    .top {
      .item {
        h2 {
          color: #f1f1f1;
        }

        span {
          color: #bbb;
        }
      }
    }

    hr {
      border-color: #333;
    }

    .bottom {
      .left {
        span {
          color: #aaa;
        }
      }

      .right {
        .link {
          color: #ccc;
        }

        .social img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}
